<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang = "en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>

</head>
<table>
    <thead>
    <tr>
        <th> Brand </th>
        <th> Model </th>
        <th> Series </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="carr : ${cars}">
        <td th:text="${carr.getBrand()}"> </td>
        <td th:text="${carr.getModel()}"> </td>
        <td th:text="${carr.getSeries()}"></td>
    </tr>
    </tbody>
</table>
</html>